<h1> Authors and Contributors </h1>

<input type="hidden" id="yearRange" value="<%=@maxyearrange%>">
<div id="container" base-url="<%= root_url %>"></div>
<div id="years" class="d-flex flex-row flex-wrap border-1"> 
<%
year = @min_year
while year < @max_year
	begin_year = year
	yearrange = begin_year < @rangecutoff ? @maxyearrange : @minyearrange
	year += yearrange
	if year > 2019
		year = 2019
	end
	year_display = begin_year < 0? (-begin_year).to_s + " BCE" : begin_year
%>
	<div style="width:50px"  class="card list-group-item-action m-1 cardLink" startYear="<%=begin_year%>" endYear="<%=year%>"><%= year_display %></div>
<%

end

%>
</div>

<div class="container">
<div class="row">
<div id="authorDetails" class="col-4 border border-5">


</div>
<div id="results" class="col-8 border border-5">
<div id="page-entries" class="border border-1"></div>
<div id="documents">
</div>
</div>
</div>

</div>
<div style="text-align:right">Sources: LCNAF/LOC and Wikidata</div>