<input type="hidden" id="topFacet" value="<%=@top_facet%>"/>
<input type="hidden" id="subFacet" value="<%=@sub_facet%>"/>
<input type="hidden" id="lcsh" value="<%=@selectedSubjectString%>"/>

<div id="toplevelnav" class="d-flex flex-row flex-wrap">
<% @hierarchy.keys.each do |key| 
	if !@callhash[key].nil?
	selectedClass = ""
	if @top_facet != "" && @top_facet == key
		selectedClass = " selectedCard "
	end
%>
  <a headingtype="nav" heading="<%=key%>" class="<%=selectedClass%>card w-25 px-3 list-group-item-action" href="<%=key%>" title="<%=@callhash[key]%>"><%=@callhash[key]%></a>
<% 
	end
  end 
%>

</div>

<div id="toplevelnavheading" style="display:none">
	<div class="card wd-50">
		<div class="wd-25" id="expandlccn">View all <i class="fa fa-expand" aria-hidden="true"></i></div>
	</div>
</div>


<div class="row">
<div class="col-sm-3">
<div id="classification_headings" base-url="<%= root_url %>" class="border">
<% @hierarchy.keys.each do |key| 
	if !@callhash[key].nil?
		selectedClass = ""
		displayStyle = ";display:none"
		if @top_facet != "" && @top_facet == key
			displayStyle = ""
			selectedClass = " selectedCard "
		end
%>
	<div headingtype="sub" class="overflow-auto" style="height:600px<%=displayStyle%>" heading="<%=key%>"><a class="<%=selectedClass%>font-weight-bold pl-1 list-group-item-action" heading="<%=key%>" href="<%=key%>" title="<%=@callhash[key]%>" role="subheadingtop"><%=@callhash[key]%></a>
	<%
	  subheadings = @hierarchy[key]
	  subheadings.each do |sh|
	    if @callhash.key?(sh)
	     selectedSubClass = ""
		 if @sub_facet != "" && @sub_facet == sh
			selectedSubClass = "selectedCard "
		 end
	  	 subheading = @callhash[sh].encode!('UTF-8', 'binary', invalid: :replace, undef: :replace, replace: '')
	  %>
	  		<div  class="d-flex flex-column flex-nowrap"><a title="<%=subheading%>" class="<%=selectedSubClass%>border border-top-0 border-left-0 border-right-0 list-group-item-action" heading="<%=sh%>" href="<%=sh%>" role="subheading"><%=subheading%></a></div>
	  <%
	  	end
	  end
	  %>
	
	</div>
<% 
	end
  end 
%>
</div>
</div>

<div id="browsecontent" class="col-sm-3 border">
<div id="subjectcontent" class="overflow-auto" style="height:600px">
</div>
</div>

<div class="col-sm-6 border">
	<div id="subjectdescription">
	
	</div>
	<div id="page-entries">
	</div>
	<div id="documents" class="overflow-auto" style="height:500px">
		
	</div>
</div>
</div>