<div id="displayContainer" class="container" base-url="<%= root_url %>" uri="<%= @uri %>"
label="" >
	<div class="row mainDetails">
		<div class="col-lg float-none b-1">
			<div class="entityImage float-left d-none" id="mainImage"></div>
			<div class="row float-left upperDisplay">
				<div id="entityLabel" class="float-none clearfix">
					<span id="label" class="search-source"></span>
					<small class="externalLink" id="lc"><a href="<%= @uri %>">LOC</a></small>
					<small class="externalLink" id="wd"></small>
				</div>
				<div class="row">
					<div class="col-md">
						<div id="description" class="capitalize"> </div>
					</div>
					<div class="col-md">
			
						<div id="worksAbout"></div> 
						<div id="classification"></div> 
						<div class="float-none d-none clearfix" id="locationInfo"> <div class="float-left">Location(s): </div><div class="float-left" id="mainLocations"></div></div>
						<div class="float-none d-none clearfix" id="timeInfo"> <div class="float-left">Time(s): </div><div class="float-left" id="mainTime"></div></div>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
	
	<div class="row hierarchy">
		<div class="col-md d-none" id="broader">
		</div>
		<div class="d-none col-sm-1 flex-wrap align-items-center" id="hierarchyArrow">
			<img class="center-block" src="<%= image_url('cornell/entity/arrow.png') %>">
		</div>
		<div class="col-md d-none" id="narrower">
		</div>
	</div>
	
	
	<!-- Search results -->
	<div class="row searchTabsNav">
		<ul class="nav nav-tabs" id="searchTabs" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" href="#catalogSearch" id="catalogSearchTab" data-toggle="tab" aria-controls="catalogSearch">Library Catalog</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#digitalSearch" id="digitalSearchTab" data-toggle="tab" aria-controls="digitalSearch">Digital Collections</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#repositoriesSearch" id="repositoriesSearchTab" data-toggle="tab" aria-controls="repositoriesSearch">Repositories</a>
		  </li>
		</ul>
	
	</div>
	<div class="row">
		<div class="tab-content">
		    <div class="tab-pane fade show active" id="catalogSearch" aria-labelledby="catologSearchTab" role="tabPanel">
		      <div id="page-entries"></div>
	    	  <div id="documents" class="searchDocuments"> </div>
		    </div>
		    <div class="tab-pane fade" id="digitalSearch" aria-labelledby="digitalSearchTab" role="tabPanel">
		        
		    </div>
		    <div class="tab-pane fade" id="repositoriesSearch" aria-labelledby="repositoriesSearchTab" role="tabPanel">
		        
		    </div>
		</div>
	</div>
	
	
	
	<!--- map and timeline -->
	
	<div class="row temp-geo">
		
			<div class="col-lg">
				<div class="row border" id="subject-timeline">							
				</div>
				<div class="row border mt-3">
					<div class="mapBrowse" id="map" ></div>				
				</div>
			</div>
			<!-- used col sm before but wanted it to be less relative width -->
			<div class="col-sm-4">
				<div class="text-right"><input type="checkbox" id="displayAll">  Display all subjects</div>
				<div class="w-100 h-100 border ml-3 mt-2 p-2" id="timelineInfo">
				</div>
			</div>
	</div>
	
</div>
<script type="text/javascript">
	var uri = "<%= @uri %>";
</script>
